langgraph
langchain-core
langchain-community
chromadb
sentence-transformers
networkx
docker
ddgs
pyaudiowpatch
faster-whisper
torch
sounddevice
piper-tts
numpy
fastapi
uvicorn
websockets
pywebview
langchain-ollama
duckduckgo-search==8.1.1
lxml==6.1.1
primp==1.3.1
python-docx
numexpr
torchaudio